/* Styling for the fixed-place navbar. Most styling is taken from Bootstrap--these values should be considered overrides.

    Created by: Andrew
    Created on: 5.28.17
*/

/* Without this placeholder div, the header renders below the nav bar. This creates an invisible buffer that makes content start below the navbar */
#navBarSpaceHolder {
  height: 55px;
}

/*Boostrap navbar overrides*/

.navbar-inverse {
  background-color: #63638e;
  border-color: #6363a5;
}

.navBarMenuText.navbar-brand {
  color: #e8e8f3;
}

.navbar-inverse .navbar-nav > li > a {
  color: #e8e8f3;;
}

.chosen-container.chosen-container-multi {
  width: 300px;
}

/* Might want to restrict this to only .active? */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #444486;
}
