@*
* Display for expenditure charts.
*
* Created by: Andrew
* Created on: 5.28.17
*
*@
@(pageTitle: String, histogram: models.charts.Histogram)

@import play.api.libs.json.Json

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <head>
    @globalDependencies()

    @* Local dependencies *@
    @* Chosen *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

    @* Local CSS *@
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/navbar.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/headerArea.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/chartArea.css")">

    @* Local JavaScript *@
    <script src="@routes.Assets.versioned("javascripts/histogramRenderer.js")" type="text/javascript"></script>

  </head>
  <title>@pageTitle</title>
</head>
<body>

  @navbar()
  @headerArea()

  @*First histogram holder*@
  <div id="chartArea">
    <div id="defaultHistogram"></div>
  </div>

  @* Script to load histograms *@
  <script type="text/javascript">$(document).ready(histogramRenderer.renderHistogram(JSON.parse("@histogram.toJson()".replace(/&quot;/g,'"')), document.getElementById('defaultHistogram')));</script>
     @* <script type="text/javascript">$(document).ready(histogramRenderer.renderHistogram(JSON.parse("{ \"test\":\"test\"}")));</script>*@

</body>
</html>

